- @init_url = "/panel/site/#{@site.domain}/filemanager"

.col_12
  %ul.breadcrumbs
    %li
      %a{:href=>"#{@init_url}"} Корень сайта #{@site.domain}
    - @paths.each_with_index do |p, i|
      - path = @paths[0..i].join('/')
      %li
        %a{:href=>"#{@init_url}/#{path}"} #{p}


.col_12


.col_12
  %form{:method=>'post', :action=>''}
    %textarea{:name=>'text', :id=>'editor', :style=>'width:100%; height:400px'} #{@data}

:javascript
  var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    autoCloseTags: true,
    lineNumbers: true,
    extraKeys: {"Ctrl-Space": "autocomplete"}
  });
