.grid.fluid
  .col_3

  .col_6
    %h4= "Информация о сайте #{@site.domain}.#{APP_CONFIG['domain']}"

    .col_12
      %h6 FTP
      %ul
        %li= "Сервер: #{@site.domain}.#{APP_CONFIG['domain']}"
        %li= "Пользователь: #{@site.domain}"
        %li= "Пароль: #{@site.password}"

    .col_12
      %h6 MySQL БД
      %ul
        %li= "Сервер: localhost"
        %li= "Имя БД: #{@site.domain}"
        %li= "Пользователь: #{@site.domain}"
        %li= "Пароль: #{@site.password}"

  .col_3
