.col_7
  %h4{:style=>'padding:0; margin:0'} Факультеты
.col_5.right{:style=>'height:40px'}
  %form{:method=>'post', :action=>'/users/faculties/add'}
    %input.small.col_5{:type=>'text', :name=>'fname', :placeholder=>'добавить факультет'}
    %button.green.button.small{:type=>'submit', :value=>'Добавить'}
      %i.icon-plus-sign
      Добавить

%div
  &nbsp;

%table.striped
  - @faculties.each do |f|
    %tr
      %td{:style=>'width:90%', :id=>"line#{f.id}"}
        %a{:href=>"/users/faculties/#{f.id}/specialities"}= f.title
        %form.hide{:method=>'post', :action=>"/users/faculties/#{f.id}/edit"}
          %input.col_10{:type=>'text', :name=>'fname', :value=>"#{f.title}"}
          %button{:type=>'submit', :style=>'display:none'}
      %td
        %a{:href=>'#', :onclick=>"return editLine('#{f.id}')"}
          %i.icon-pencil
        %a{:href=>("/users/faculties/#{f.id}/delete"), :onclick=>"return confirmDelete('#{f.title}')"}
          %i.icon-remove

%script
  :plain
    function confirmDelete(i) {
      return confirm("Точно удалить факультет \"" + i + "\"?")
    }
    function editLine(i) {
      $("#line"+i).children('a').addClass('hide');
      form = $("#line"+i).children('form');
      form.removeClass('hide');
      form.children('input').focus();
    }