- @init_url = "/admin/users/faculties/#{@f.id}/specialities"

.col_8
  %h4{:style=>'padding:0; margin:0'} Специальности
  %a.user-breadcumps{:href=>'/admin/users/faculties'}
    %em= @f.title
.col_4.right{:style=>'height:40px'}
  %form{:method=>'post', :action=>"#{@init_url}/add"}
    .col_11
      %input.small{:type=>'text', :name=>'title', :placeholder=>'добавить специальность', :style=>'width:100%'}
    .col_1
      %button.green.button.user-small{:type=>'submit', :value=>'Добавить'}
        %i.icon-plus-sign

%div
  &nbsp;
%div
  &nbsp;

%table.striped
  - @s.each do |ea|
    %tr
      %td{:style=>'width:90%', :id=>"line#{ea.id}"}
        %a{:href=>"#{@init_url}/#{ea.id}/students"}= ea.title
        %form.hide{:method=>'post', :action=>"#{@init_url}/#{ea.id}/edit"}
          %input.col_10{:type=>'text', :name=>'title', :value=>"#{ea.title}"}
          %button{:type=>'submit', :style=>'display:none'}
      %td
        %a{:href=>'#', :onclick=>"return editLine('#{ea.id}')"}
          %i.icon-pencil
        %a{:href=>("#{@init_url}/#{ea.id}/delete"), :onclick=>"return confirmDelete('#{ea.title}')"}
          %i.icon-remove

- if @f.specialities.count < 1
  .notice.warning
    %h3 Пока что здесь нет записей.
    %p
      %em Вы можете их добавить в правом верхнем углу.

%script
  :plain
    function confirmDelete(i) {
      return confirm("Точно удалить специальность \"" + i + "\"?\nЭто также удалит всех пользователей внутри специальности!")
    }
    function editLine(i) {
      $("#line"+i).children('a').addClass('hide');
      form = $("#line"+i).children('form');
      form.removeClass('hide');
      form.children('input').focus();
    }