- @init_url = "/admin/users/faculties/#{@f.id}/specialities/#{@s.id}/students"

.col_12
  %h4{:style=>'padding:0; margin:0'} Студенты
  %a.user-breadcumps{:href=>'/admin/users/faculties'}
    %em= @f.title
  %em >
  %a.user-breadcumps{:href=>"/admin/users/faculties/#{@f.id}/specialities"}
    %em= @s.title

%div
  &nbsp;
%div
  &nbsp;

/ %table.striped
/   - @u.each do |ea|
/     %tr
/       %td{:style=>'width:90%', :id=>"line#{ea.id}"}
/         %a{:href=>"#{@init_url}/#{ea.id}/students"}= ea.name
/         %form.hide{:method=>'post', :action=>"#{@init_url}/#{ea.id}/edit"}
/           %input.col_10{:type=>'text', :name=>'name', :value=>"#{ea.title}"}
/           %button{:type=>'submit', :style=>'display:none'}
/       %td
/         %a{:href=>'#', :onclick=>"return editLine('#{ea.id}')"}
/           %i.icon-pencil
/         %a{:href=>("#{@init_url}/#{ea.id}/delete"), :onclick=>"return confirmDelete('#{ea.title}')"}
/           %i.icon-remove

- if @u.count < 1
  .notice.warning
    %h3 Пока что здесь нет ни одного студента.
    %p
      %em Студенты должны регистрироваться самостоятельно на сайте. После проверки вами они будут отображаться здесь.

%script
  :plain
    function confirmDelete(i) {
      return confirm("Точно удалить студента \"" + i + "\"?")
    }
    function editLine(i) {
      $("#line"+i).children('a').addClass('hide');
      form = $("#line"+i).children('form');
      form.removeClass('hide');
      form.children('input').focus();
    }